datetime.vhd
*.bak
db
incremental_db
greybox_tmp
*.bak
*.rpt
*.summary
*.sof
*.rbf
*.pin
*.smsg
*.jdi
*.cdf
PLLJ_PLLSPE_INFO.txt
.hdl_checker.config
.hdl_checker.config.ori
Video/.VIDEO_MOD_MUX_CLUTCTR.tdf.swp
Video/.video_mod_mux_clutctr.vhd.swp
Video/DDR_CTR_strip.tdf
files.vim
firebee1.done
lpm_ror128.qip
lpm_shiftreg6.qip
qmegawiz_errors_log.txt
simulation/modelsim/.video_mod_mux_clutctr_tb.vhd.swp
simulation/modelsim/firebee1.sft
simulation/modelsim/firebee1.vho
simulation/modelsim/firebee1_6_1200mv_0c_slow.vho
simulation/modelsim/firebee1_6_1200mv_0c_vhd_slow.sdo
simulation/modelsim/firebee1_6_1200mv_85c_slow.vho
simulation/modelsim/firebee1_6_1200mv_85c_vhd_slow.sdo
simulation/modelsim/firebee1_min_1200mv_0c_fast.vho
simulation/modelsim/firebee1_min_1200mv_0c_vhd_fast.sdo
simulation/modelsim/firebee1_modelsim.xrf
simulation/modelsim/firebee1_run_msim_gate_vhdl.do
simulation/modelsim/firebee1_vhd.sdo
simulation/modelsim/gate_work/
simulation/modelsim/msim_transcript
simulation/modelsim/transcript
simulation/modelsim/video_mod_mux_clutctr_tb.ghw
simulation/modelsim/vsim.wlf
simulation/modelsim/work-obj08.cf
tags
video_mod_mux_clutctr.gtkw
vunit_out/
work/

